.pres_quiz
{
	border-radius: 5px;
	border: 1px solid black;	
	width: 50%;
	margin: 15px;
}
#titre_quiz
{
	width: 50%;
	margin:3px;
}
#description_quiz
{
	width: 50%;
	margin:3px;
}
#boutton_quiz
{
	width: 50%;
	margin:3px;
}
.quiz_question
{
	border-radius: 5px;
	border: 1px solid black;	
	width: 50%;
	margin : 15px;
}
#titre_question
{
	width: 95%;
}
#question_question
{
	width: 50%;
}
#reponse_question
{
	width: 50%;
	margin:3px;
}
.message
{
	border-radius: 5px;
	border: 1px solid red;
	text-align: center;
	margin-top: 15px;
	padding: 3px;
	margin-bottom: 20px;
}
input
{
	text-align:center;
}
#correction
{
	border: 1px solid green;
	border-radius: 5px;
	padding-bottom: 3px;
	margin: 8px;
	width: 50%;
}
#vosreponses
{
	margin : 8px;
	border: 1px solid blue;
	border-radius: 5px;
	padding: 5px;
	width: 50%;
}
table
{
	text-align: center;
    border-collapse: collapse;
}
td, th /* Mettre une bordure sur les td ET les th */
{
    border: 1px solid black;
    padding : 8px;
    padding-right: 30px;
    padding-left: 30px;
}
#typetrois
{
	max-width: 20px;
}